{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}
<h5> Hi,<br>
My name is Given Kamogelo Mnguni from the Orchards in Pretoria North, I am 25 years of age. I recently completed a diploma in Information Technology in Software Development at IIE Rosebank College. I am a very curios & logical person who likes to analyze and understand everything before i could make a move, I am self-sufficient and have ability to collaborate well with others.<br><br><br>

In Varsity i have created three successful and functional software's such as a windows stand-alone application, a website and an Android application using various programming languages such as Java,C#,php,HTML and CSS. For database i know Oracle database,Microsoft SQL Server, Azure and MYSQL. I do not consider myself as a very smart person but a hard worker, in Varsity i managed to accumulate 14 distinctions and scored an overall average of 71%.

I am looking for an internship to advance my skills and gain real work place experience as either a Software Developer, Systems Analyst or a Data Analyst.</h5>

{% endblock %}
